<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 1<br>Introduction to Core Concepts, ER Modeling, Relational Algebra, SQL<br>
</span>
</center></i>

<br>
<span style="font-size: 24pt; line-height: 1.2; color: red">
For information. Do not do a lot of work until published by TAs.
</span>
<br>

# Introduction

This notebook contains Homework 1. **Both Programming and Nonprogramming tracks should complete this homework.**

# Submission Instructions

__Note to TAs:__ Publish submission instructions below.

<hr style="height:2px;">

# Add Student Information

In [1]:
# Print your name, uni, and track below

name = "Donald Ferguson"
uni = "dff9"
track = "Programming Track"

print(name)
print(uni)
print(track)

Donald Ferguson
dff9
Programming Track

# Setup

## SQL Magic

The `sql` extension was installed in HW0. Double check that if this cell doesn't work.

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

You may need to change the password below.

In [9]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [10]:
%sql SELECT * FROM db_book.student WHERE ID = 12345

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]

## Python Libraries

In [5]:
from IPython.display import Image
import pandas

<hr style="height:2px;">

# Entity-Relationship Modeling

## Overview

The ability to understand a general description of a requested data model and to transform into a more precise, specified _logical model_ is one of the most important skills for using databases. SW and data engineers build applications and data models for end-users. The end-users, product managers and business managers are not SW or data modeling experts. They will express their _intent_ in imprecise, text and words.

The users and business stakeholder often can understand and interact using a _conceptual model_ but details like keys, foreign keys, ... are outside their scope.

In this problem, you will:
- Understand a short written description of a requested data model.
- Produce a _conceptual data model diagram_ using Lucidchart.
- Produce a _logical data model diagram_ using Lucidchart.

You can sign up for a free [Lucidchart account.](https://www.lucidchart.com/pages/landing) The free account provides the capabilities you will need for this course.

To draw the diagrams, you need to add the _entity relationship_ shapes. Lecture 2 demonstrated how to add the shapes.

| <img src="./lucidchart.jpg"> |
| :---: |
| __Adding Entity Relationship Shapes__|

We provide a simple [Lucidchart document](https://lucid.app/lucidchart/828777b1-7b2d-4828-bedb-37b6d456c33e/edit?invitationId=inv_a142899a-7e60-44e9-b18e-335d7c9767fc) from Lecture 2 that helps you get started. You need a Lucidchart account to access the document and diagrams.

## Data Model Description

The data model represents banks, customers. employees and accouts. The model has the following entity types/sets:
1. _Customer_
2. _Employee_ of the banking company.
3. _Branch,_ which is a location of one of the banks offices.
4. _Savings Account_
5. _Checking Account_
6. _Loan_
7. _Portfolio_

_Customer_ has the following properties:
- _customerID_
- _lastName_
- _firstName_
- _email_
- _dateOfBirth_


_Employee_ has the following properties:
- _employeeID_
- _lastName_
- _firstName_
- _jobTitle_


_Branch_ has the following properties:
- _branchID_
- _zipCode_


_Savings Account_ has the following properties:
- accountID
- balance
- interestRate


_Checking Account_ has the following properties:
- accountID
- balance

_Loan_ has the following properties.
- loanID
- balance
- interestRate


_Portfolio_ has the following properties:
- portfolioID
- createdDate

The data model has the following relationships:
- _Customer Branch_ connects a customer and a branch. A _Customer_ is connected to exactly one _Branch._ A _Branch_ may have 0, 1 or many customers.
- _Employee Branch_ connects an employee and a branch. An _Employee_ is connected to exactly one _Branch._ A _Branch_ may have 0, 1 or many associated employees.
- _Savings Account Branch,_ _Checking Account Branch,_ and _Loan Branch_ all have the same pattern. An account/loan has exactly one branch. A _Branch_ many have 0, 1 or many accounts/loans.
- _Savings Customer,_ _Portfolio Customer,_ _Loan Customer_ and _Portfolio Customer_ follow the same pattern. 
    - The account/loan has exactly one customer.
    - The customer may have 0 or 1 of each type of account.
- A _Portfolio_ is related to exactly one _Customer,_ exactly one _Savings Account,_ exactly one _Checking Account,_ and exactly one _Loan._
- _Portfolio Advisor_ relates a _Portfolio_ and _Employee._ An _Employee_ may be the advisor for 0, 1 or many _Portfolios._ A _Portfolio_ may have at most one _Employee_ advisor.

## Answer

Comments:
1. Place your Logical Model diagram below.
2. You _may_ have to add attributes to entities to implement the model.
3. You _may_ make reasonable assumptions. Please document your assumptions below. You may add comments/notes to your diagram for clarity.

Assumptions:
1. Assumption 1
2. Assumption 2
3. ... ...

ER Diagram:

Save your diagram to an image, place in the same directory as your notebook and change the file name in the HTML ```img``` tag in this Markdown cell.

| <img src="./diagram-place-holder.jpg"> |
| :---: |
| __Logical ER Diagram__|

# Relational Algebra

## R1

The following is the SQL DDL for the `db_book.classroom` table.

```
CREATE TABLE IF NOT EXISTS db_book.classroom
(
    building    VARCHAR(15) NOT NULL,
    room_number VARCHAR(7)  NOT NULL,
    capacity    DECIMAL(4)  NULL,
    PRIMARY KEY (building, room_number)
);
```

Using the notation from the lecture slides, provide the corresponding relation schema definition.

## Answer Format

For the answers to the relational algebra questions, you will use the [RelaX calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) with the schema associated with the book. You answer should include the algebra statement in as text and a screenshot of the execution result. Question __R0__ below shows a sample of that the answer will look like.

## R0

Write a relational algebra statement that produces a table of the following form:
- ID is the instructor ID.
- name is the instructor name.
- course_id, sec_id, semester, year of a section.
- building, room_number

__Note:__
1. You will have to use the instructor, teaches and section relations.
2. Your answer should only include sections taught in ```Comp. Sci.``` in ```2009.```

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __RO Execution Result__|

## R1

Write a relational algebra statement that produces a table of the following form:
- ID is the instructor ID.
- name is the instructor name.
- course_id, sec_id, semester, year of a section for sections that the instructor teaches.
- building, room_number for the section.
- Your answer should only include sections taught in ```Comp. Sci.``` in ```2009.```

__Note:__
1. You will have to use the instructor, teaches and section relations.

Algebra statement:

```

```

Execution:

| Place img tag here |
| :---: |
| __R1 Execution Result__|

## R2

Write a relational algebra statement that produces a relation with the columns:

* `course_id`
* `title`
* `prereq_course_id`
* `prereq_course_title`

__Note:__
1. This query requires the ```course``` and ```prereq``` tables.
2. You _may_ have to use table and column renaming. We will provide examples.

Algebra statement:

```

```

Execution:

| Place img tag here |
| :---: |
| __R1 Execution Result__|

# SQL

## New Database

[MySQL Tutorial](https://www.mysqltutorial.org/) is a good site with information that complements and extends the core material in our course. Much of the material the site covers is applicable to other SQL products. MySQL Tutorial uses an interesting dataset that is more complex than the simple "db_book" database. This is the [Classic Models Dataset](https://www.mysqltutorial.org/getting-started-with-mysql/mysql-sample-database/)The complexity allows us to better appreciate more complex SQL concepts.


You learned how to run a SQL script/file as part of HW0. Please use the same approach to load and create the ```Classic Models Database.``` The file is ```classic-models-database.sql``` and is in the HW1 folder. 


To test loading the data, you can use the cell below.

In [11]:
%sql USE classicmodels;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [12]:
%sql show tables;

 * mysql+pymysql://root:***@localhost
8 rows affected.

[('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',)]

In [18]:
%%sql

with one as (
    select * from orders join orderdetails using(orderNumber)
),
two as (
    select * from customers join one using(customerNumber)
)
select 
    customerNumber, customerName, orderNumber,
    orderLineNumber, productCode, quantityOrdered, priceEach
from
    two
order by customerNumber, orderNumber, orderLineNumber
limit 25

 * mysql+pymysql://root:***@localhost
25 rows affected.

[(103, 'Atelier graphique', 10123, 1, 'S24_1628', 50, Decimal('43.27')),
 (103, 'Atelier graphique', 10123, 2, 'S18_1589', 26, Decimal('120.71')),
 (103, 'Atelier graphique', 10123, 3, 'S18_2870', 46, Decimal('114.84')),
 (103, 'Atelier graphique', 10123, 4, 'S18_3685', 34, Decimal('117.26')),
 (103, 'Atelier graphique', 10298, 1, 'S10_2016', 39, Decimal('105.86')),
 (103, 'Atelier graphique', 10298, 2, 'S18_2625', 32, Decimal('60.57')),
 (103, 'Atelier graphique', 10345, 1, 'S24_2022', 43, Decimal('38.98')),
 (112, 'Signal Gift Stores', 10124, 1, 'S24_2022', 22, Decimal('36.29')),
 (112, 'Signal Gift Stores', 10124, 2, 'S24_1937', 45, Decimal('30.53')),
 (112, 'Signal Gift Stores', 10124, 3, 'S18_2325', 42, Decimal('111.87')),
 (112, 'Signal Gift Stores', 10124, 4, 'S24_3969', 46, Decimal('36.11')),
 (112, 'Signal Gift Stores', 10124, 5, 'S18_2248', 42, Decimal('58.12')),
 (112, 'Signal Gift Stores', 10124, 6, 'S18_1749', 21, Decimal('153.00')),
 (112, 'Signal Gift Stores', 10124, 7, 'S18_4409', 36, Decimal('75.46')),
 (112, 'Signal Gift Stores', 10124, 8, 'S18_4933', 23, Decimal('66.28')),
 (112, 'Signal Gift Stores', 10124, 9, 'S24_2887', 25, Decimal('93.95')),
 (112, 'Signal Gift Stores', 10124, 10, 'S24_2766', 32, Decimal('74.51')),
 (112, 'Signal Gift Stores', 10124, 11, 'S24_3191', 49, Decimal('76.19')),
 (112, 'Signal Gift Stores', 10124, 12, 'S24_1046', 22, Decimal('62.47')),
 (112, 'Signal Gift Stores', 10124, 13, 'S24_3432', 43, Decimal('101.73')),
 (112, 'Signal Gift Stores', 10278, 1, 'S24_1628', 35, Decimal('48.80')),
 (112, 'Signal Gift Stores', 10278, 2, 'S18_1589', 23, Decimal('107.02')),
 (112, 'Signal Gift Stores', 10278, 3, 'S18_2870', 39, Decimal('117.48')),
 (112, 'Signal Gift Stores', 10278, 4, 'S18_3685', 31, Decimal('114.44')),
 (112, 'Signal Gift Stores', 10278, 5, 'S18_1984', 29, Decimal('118.07'))]

## SQL 1

This query uses: ```customers, orders, ordersDetails, products.```


Write an SQL query that produces a table/query result with the following columns.
- From ```customers```:
    - ```customerNumber```
    - ```customerName```
    - ```country```
- From ```orders```:
    - ```orderNumber```
    - ```orderStatus```
    - ```quantityOrdered```
    - ```status```
- From ```orderDetails```:
    - ```orderLineNumber```
    - ```quantityOrdered```
    - ```productCode```
- From ```products```:
    - ```productName```
    - ```quantityInStock```
    
    
Obviously, your result should only show a row if the ```customerNumber, orderNumber, productCode``` are the same.


Your result table should ONLY show rows for which:
- The ```orders.status``` is ```In Progress```
- The ```customers.country``` is ```France, Spain``` or ```USA.```


Execute your query in the cell below.

## SQL 2

### Overview

Loading and cleaning data is an important skill. The ```HW1``` folder containers three files:
1. ```People.csv```
2. ```Appearances.csv```
3. ```Teams.csv```


There are many, many ways to load data from files and many data file formats. The code below shows how to load data from relatively small [Comma Separated Value Files](https://en.wikipedia.org/wiki/Comma-separated_values). This data is from the dreaded __Lahman's Baseball Databset.__

In [19]:
%%sql

drop schema if exists lahmans_s_24;

create schema lahmans_s_24;

 * mysql+pymysql://root:***@localhost
0 rows affected.
1 rows affected.

[]

In [20]:
import pandas

In [22]:
# Replace the user ID and passsword in the URL with the values you set.
# This is the same URL you used in your first %sql cell
#
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

In [23]:
people_frame = pandas.read_csv('./People.csv')
people_frame.to_sql(
    'people', schema='lahmans_s_24', index=False, if_exists='replace', con=engine
)

20676

In [30]:
appearances_frame = pandas.read_csv('./Appearances.csv')
appearances_frame.to_sql(
    'appearances', schema='lahmans_s_24', index=False, if_exists='replace', con=engine
)

112106

In [25]:
teams_frame = pandas.read_csv('./Teams.csv')
teams_frame.to_sql(
    'teams', schema='lahmans_s_24', index=False, if_exists='replace', con=engine
)

3015

The following queries perform a simple test of you loading success. Your results should match.

In [27]:
%sql use lahmans_s_24;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [28]:
%sql select * from people limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('aardsda01', 1981.0, 12.0, 27.0, 'USA', 'CO', 'Denver', None, None, None, None, None, None, 'David', 'Aardsma', 'David Allan', 215.0, 75.0, 'R', 'R', '2004-04-06', '2015-08-23', 'aardd001', 'aardsda01'),
 ('aaronha01', 1934.0, 2.0, 5.0, 'USA', 'AL', 'Mobile', 2021.0, 1.0, 22.0, 'USA', 'GA', 'Atlanta', 'Hank', 'Aaron', 'Henry Louis', 180.0, 72.0, 'R', 'R', '1954-04-13', '1976-10-03', 'aaroh101', 'aaronha01'),
 ('aaronto01', 1939.0, 8.0, 5.0, 'USA', 'AL', 'Mobile', 1984.0, 8.0, 16.0, 'USA', 'GA', 'Atlanta', 'Tommie', 'Aaron', 'Tommie Lee', 190.0, 75.0, 'R', 'R', '1962-04-10', '1971-09-26', 'aarot101', 'aaronto01'),
 ('aasedo01', 1954.0, 9.0, 8.0, 'USA', 'CA', 'Orange', None, None, None, None, None, None, 'Don', 'Aase', 'Donald William', 190.0, 75.0, 'R', 'R', '1977-07-26', '1990-10-03', 'aased001', 'aasedo01'),
 ('abadan01', 1972.0, 8.0, 25.0, 'USA', 'FL', 'Palm Beach', None, None, None, None, None, None, 'Andy', 'Abad', 'Fausto Andres', 184.0, 73.0, 'L', 'L', '2001-09-10', '2006-04-13', 'abada001', 'abadan01'),
 ('abadfe01', 1985.0, 12.0, 17.0, 'D.R.', 'La Romana', 'La Romana', None, None, None, None, None, None, 'Fernando', 'Abad', 'Fernando Antonio', 235.0, 74.0, 'L', 'L', '2010-07-28', '2021-10-01', 'abadf001', 'abadfe01'),
 ('abadijo01', 1850.0, 11.0, 4.0, 'USA', 'PA', 'Philadelphia', 1905.0, 5.0, 17.0, 'USA', 'NJ', 'Pemberton', 'John', 'Abadie', 'John W.', 192.0, 72.0, 'R', 'R', '1875-04-26', '1875-06-10', 'abadj101', 'abadijo01'),
 ('abbated01', 1877.0, 4.0, 15.0, 'USA', 'PA', 'Latrobe', 1957.0, 1.0, 6.0, 'USA', 'FL', 'Fort Lauderdale', 'Ed', 'Abbaticchio', 'Edward James', 170.0, 71.0, 'R', 'R', '1897-09-04', '1910-09-15', 'abbae101', 'abbated01'),
 ('abbeybe01', 1869.0, 11.0, 11.0, 'USA', 'VT', 'Essex', 1962.0, 6.0, 11.0, 'USA', 'VT', 'Colchester', 'Bert', 'Abbey', 'Bert Wood', 175.0, 71.0, 'R', 'R', '1892-06-14', '1896-09-23', 'abbeb101', 'abbeybe01'),
 ('abbeych01', 1866.0, 10.0, 14.0, 'USA', 'NE', 'Falls City', 1926.0, 4.0, 27.0, 'USA', 'CA', 'San Francisco', 'Charlie', 'Abbey', 'Charles S.', 169.0, 68.0, 'L', 'L', '1893-08-16', '1897-08-19', 'abbec101', 'abbeych01')]

In [31]:
%sql select * from appearances limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(1871, 'TRO', None, 'abercda01', 1, 1.0, 1, 1.0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0.0, 0.0, 0.0),
 (1871, 'RC1', None, 'addybo01', 25, 25.0, 25, 25.0, 0, 0, 0, 22, 0, 3, 0, 0, 0, 0, 0.0, 0.0, 0.0),
 (1871, 'CL1', None, 'allisar01', 29, 29.0, 29, 29.0, 0, 0, 0, 2, 0, 0, 0, 29, 0, 29, 0.0, 0.0, 0.0),
 (1871, 'WS3', None, 'allisdo01', 27, 27.0, 27, 27.0, 0, 27, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0),
 (1871, 'RC1', None, 'ansonca01', 25, 25.0, 25, 25.0, 0, 5, 1, 2, 20, 0, 1, 0, 0, 1, 0.0, 0.0, 0.0),
 (1871, 'FW1', None, 'armstbo01', 12, 12.0, 12, 12.0, 0, 0, 0, 0, 0, 0, 0, 11, 1, 12, 0.0, 0.0, 0.0),
 (1871, 'RC1', None, 'barkeal01', 1, 1.0, 1, 1.0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0.0, 0.0, 0.0),
 (1871, 'BS1', None, 'barnero01', 31, 31.0, 31, 31.0, 0, 0, 0, 16, 0, 15, 0, 0, 0, 0, 0.0, 0.0, 0.0),
 (1871, 'FW1', None, 'barrebi01', 1, 1.0, 1, 1.0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0),
 (1871, 'BS1', None, 'barrofr01', 18, 17.0, 18, 18.0, 0, 0, 0, 1, 0, 0, 13, 0, 4, 17, 0.0, 0.0, 0.0)]

In [32]:
%sql select * from teams limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(1871, None, 'BS1', 'BNA', None, 3, 31, None, 20, 10, None, None, 'N', None, 401, 1372, 426, 70, 37, 3, 60, 19.0, 73.0, 16.0, None, None, 303, 109, 3.55, 22, 1, 3, 828, 367, 2, 42, 23, 243, 24, 0.834, 'Boston Red Stockings', 'South End Grounds I', None, 103, 98, 'BOS', 'BS1', 'BS1'),
 (1871, None, 'CH1', 'CNA', None, 2, 28, None, 19, 9, None, None, 'N', None, 302, 1196, 323, 52, 21, 10, 60, 22.0, 69.0, 21.0, None, None, 241, 77, 2.76, 25, 0, 1, 753, 308, 6, 28, 22, 229, 16, 0.829, 'Chicago White Stockings', 'Union Base-Ball Grounds', None, 104, 102, 'CHI', 'CH1', 'CH1'),
 (1871, None, 'CL1', 'CFC', None, 8, 29, None, 10, 19, None, None, 'N', None, 249, 1186, 328, 35, 40, 7, 26, 25.0, 18.0, 8.0, None, None, 341, 116, 4.11, 23, 0, 0, 762, 346, 13, 53, 34, 234, 15, 0.818, 'Cleveland Forest Citys', 'National Association Grounds', None, 96, 100, 'CLE', 'CL1', 'CL1'),
 (1871, None, 'FW1', 'KEK', None, 7, 19, None, 7, 12, None, None, 'N', None, 137, 746, 178, 19, 8, 2, 33, 9.0, 16.0, 4.0, None, None, 243, 97, 5.17, 19, 1, 0, 507, 261, 5, 21, 17, 163, 8, 0.803, 'Fort Wayne Kekiongas', 'Hamilton Field', None, 101, 107, 'KEK', 'FW1', 'FW1'),
 (1871, None, 'NY2', 'NNA', None, 5, 33, None, 16, 17, None, None, 'N', None, 302, 1404, 403, 43, 21, 1, 33, 15.0, 46.0, 15.0, None, None, 313, 121, 3.72, 32, 1, 0, 879, 373, 7, 42, 22, 235, 14, 0.84, 'New York Mutuals', 'Union Grounds (Brooklyn)', None, 90, 88, 'NYU', 'NY2', 'NY2'),
 (1871, None, 'PH1', 'PNA', None, 1, 28, None, 21, 7, None, None, 'Y', None, 376, 1281, 410, 66, 27, 9, 46, 23.0, 56.0, 12.0, None, None, 266, 137, 4.95, 27, 0, 0, 747, 329, 3, 53, 16, 194, 13, 0.845, 'Philadelphia Athletics', 'Jefferson Street Grounds', None, 102, 98, 'ATH', 'PH1', 'PH1'),
 (1871, None, 'RC1', 'ROK', None, 9, 25, None, 4, 21, None, None, 'N', None, 231, 1036, 274, 44, 25, 3, 38, 30.0, 53.0, 10.0, None, None, 287, 108, 4.3, 23, 1, 0, 678, 315, 3, 34, 16, 220, 14, 0.821, 'Rockford Forest Citys', 'Agricultural Society Fair Grounds', None, 97, 99, 'ROK', 'RC1', 'RC1'),
 (1871, None, 'TRO', 'TRO', None, 6, 29, None, 13, 15, None, None, 'N', None, 351, 1248, 384, 51, 34, 6, 49, 19.0, 62.0, 24.0, None, None, 362, 153, 5.51, 28, 0, 0, 750, 431, 4, 75, 12, 198, 22, 0.845, 'Troy Haymakers', "Haymakers' Grounds", None, 101, 100, 'TRO', 'TRO', 'TRO'),
 (1871, None, 'WS3', 'OLY', None, 4, 32, None, 15, 15, None, None, 'N', None, 310, 1353, 375, 54, 26, 6, 48, 13.0, 48.0, 13.0, None, None, 303, 137, 4.37, 32, 0, 0, 846, 371, 4, 45, 13, 218, 20, 0.85, 'Washington Olympics', 'Olympics Grounds', None, 94, 98, 'OLY', 'WS3', 'WS3'),
 (1872, None, 'BL1', 'BLC', None, 2, 58, None, 35, 19, None, None, 'N', None, 617, 2571, 753, 106, 31, 14, 29, 28.0, 53.0, 18.0, None, None, 434, 166, 2.9, 48, 1, 1, 1548, 573, 3, 63, 77, 432, 22, 0.83, 'Baltimore Canaries', 'Newington Park', None, 106, 102, 'BAL', 'BL1', 'BL1')]

### Tasks

#### Primary Keys

The primary of ```people``` is ```playerID.``` The primary key of ```appearances``` is the combination ```(playerId, teamId, yearId).``` The primary key for ```teams``` is the combination ```(teamId, yearId).```


Modify the three tables to create the primary keys. If a column's datatype is ```TEXT``` you must convert it to ```VARCHAR.``` Reasonable sizes are:
- ```playerID``` is ```VARCHAR(16)```
- ```teamID``` is ```VARCHAR(4)```
- ```yearId``` is ```VARCHAR(4)```


You should change the column type of ```yearID``` to ```VARCHAR(4)``` if it is an integer type.


You must place your ```ALTER TABLE``` statements in the cells below. You can use DataGrip to help you write the statements, but you must execute them below.

#### Foreign Keys

```appearances.playerID``` is a foreign key to ```people.playerID``` and ```(appearances.teamID, appearances.yearID)``` is a foreign key to ```(teams.teamID, teams.YearID)```. Create the foreign keys. You may use DataGrip to help you but you must execute your ```ALTER TABLE``` statements below.


__Note:__ To create the foreign key from ```appearances``` to ```people``` you must delete the row from ```apearances``` where the ```playerID``` is ```'thompan01'```;

In [ ]:
# Execute your SQL delete statement below.
%sql

Execute you ```ALTER TABLE``` statements below.

#### Data Cleanup

Unknown or missing values should be set to ```NULL.``` Write SQL UPDATE statement to set ```people.nameFirst``` and ```people.deathYear``` to ```NULL``` when the values are ```''```.  Execute your update statements below.